<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"
                 style="background: #f3f3f3;
                        position: absolute;
                        width: 630px;
                        height: 775px;
                        margin-top: 200px;
                        margin-left: 0px;">
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;">
                    <button style="width: 45px;height: 45px; background:transparent;border-radius:4px;border-width:0px;">
                        <img src="img/iconHome.png" style="margin-left:-12px;margin-top:-8px;" />
                    </button>
                </div>
                <div class="col-md-10 col-lg-10 col-sm-1 col-xs-10" style="background:transparent;height:50px;">
                    <h1 style="margin-top: 15px;">МЕГА ХИМКИ</h1>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;">
                    <button style="width: 45px;height: 45px; background:transparent;border-radius:4px;border-width:0px;">
                        <img src="img/iconClose.png" style="margin-left:-12px;margin-top:-8px;" />
                    </button>
                </div>
                <!------>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;"></div>                  
                <div class="col-md-10 col-lg-10 col-sm-1 col-xs-10" style="background:transparent;height:50px;">
                    <h5>Сегодня с 10:00 до 22:00</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;"></div>
                <!------>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:30px; height:50px;"></div>
                <div class="col-md-10 col-lg-10 col-sm-1 col-xs-10" style="background:transparent;height:50px;">
                    <button style="width:600px; background:transparent;border-width:0px;">
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="background:transparent;">
                            <div style="background: #f7b456;
                                border-radius: 50%;
                                width: 70px;
                                height: 70px;
                                margin-left: -15px;
                                border-width: 0px;"></div>
                        </div>
                        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" style="background:transparent;height:50px;text-align:left;">
                            <h2>Магазины</h2>
                        </div>
                    </button>                  
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:30px; height:50px;"></div>
                <!------>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;" ></div>
                <div class="col-md-10 col-lg-10 col-sm-1 col-xs-10" style="background:transparent;height:50px;">
                    <button style="width:600px; background:transparent;border-width:0px;">
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="background:transparent;">
                            <div style="background: #f7b456;
                                border-radius: 50%;
                                width: 70px;
                                height: 70px;
                                margin-left: -15px;
                                border-width: 0px;"></div>
                        </div>
                        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" style="background:transparent;height:50px;text-align:left;">
                            <h2>Рестараны и кафе</h2>
                        </div>
                    </button>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:30px; height:50px;" ></div>
                <!------>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;"></div>
                <div class="col-md-10 col-lg-10 col-sm-1 col-xs-10" style="background:transparent;height:50px;">
                    <button style="width:600px; background:transparent;border-width:0px;">
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="background:transparent;">
                            <div style="background: #f7b456;
                                border-radius: 50%;
                                width: 70px;
                                height: 70px;
                                margin-left: -15px;
                                border-width: 0px;"></div>
                        </div>
                        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" style="background:transparent;height:50px;text-align:left;">
                            <h2>Развлечения и услуги</h2>
                        </div>
                    </button>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:30px; height:50px;"></div>
                <!------>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;"></div>
                <div class="col-md-10 col-lg-10 col-sm-1 col-xs-10" style="background:transparent;height:50px;">
                    <button style="width:600px; background:transparent;border-width:0px;">
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="background:transparent;">
                            <div style="background: #f7b456;
                                border-radius: 50%;
                                width: 70px;
                                height: 70px;
                                margin-left: -15px;
                                border-width: 0px;"></div>
                        </div>
                        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" style="background:transparent;height:50px;text-align:left;">
                            <h2>Спецпредложения</h2>
                        </div>
                    </button>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:30px; height:50px;"></div>
                <!------>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;"></div>
                <div class="col-md-10 col-lg-10 col-sm-1 col-xs-10" style="background:transparent;height:50px;">
                    <button style="width:600px; background:transparent;border-width:0px;">
                        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2" style="background:transparent;">
                            <div style="background: #f7b456;
                                border-radius: 50%;
                                width: 70px;
                                height: 70px;
                                margin-left: -15px;
                                border-width: 0px;"></div>
                        </div>
                        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" style="background:transparent;height:50px;text-align:left;">
                            <h2>Как добраться</h2>
                        </div>
                    </button>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="background:transparent;margin-top:15px; height:50px;"></div>

            </div>