<div class="organizationsList">
    <div class="organizationsList__organizationsHeadBlock">
        <div class="organizationsHeadBlock__searchCountBlock">
            <div class="searchCountBlock__searchCount" ng-hide="searchText&&$root.currentOrganizations.length==0">
                Найдено {{$root.currentOrganizations.length}}
            </div>
            <div class="searchCountBlock__searchCount"
                 ng-show="searchText&&$root.currentOrganizations.length==0&&$root.otherCurrentOrganizations.length>0">
                Найдено {{$root.otherCurrentOrganizations.length}}
            </div>
        </div>
        <div class="organizationsHeadBlock__closeButtonBlock" ng-click="home()">
            <button class="closeButtonBlock_closeButton">
                <i class="iconMall-iconClose closeButton_icon"></i>
            </button>
        </div>
        <div class="organizationsHeadBlock__closeButtonBlock" ng-click="hide()">
            <button class="closeButtonBlock_closeButton">
                <i class="iconMall-iconArrowUp closeButton_icon"></i>
            </button>
        </div>
    </div>
    <ul class="list-group organizationsList__organizationsSearchResultBlock" vs-repeat>
        <li class="organizationsSearchResultBlock__organizationsSearchResultItem"
            route-class="{'searchResultFull.result':'searchResultFull'}"
            ng-repeat="item in $root.currentOrganizations track by item.OrganizationID"
            ng-click="select(item)">
            <div class="organizationsSearchResultItem__logoBlock">
                <!--style="background: #{{item.LogoBaseColor.substring(3)}};">-->
                <img class="logoBlock__logo" alt="{{::item.Organization.Name}}"
                     default="Content/images/mega-logo.jpg"
                     file-system-image="{{item.ImageUrl}}">
                <div ng-if="item.megacard"
                     style="width:59px;height:30px;background:white;position:absolute;bottom:0;right:0;">
                    <i class="iconMall-iconMegacard logoBlock__icon"
                       style="font-size:60px;margin-bottom:-15px;color:black"></i>
                </div>
            </div>

            <div class="organizationsSearchResultItem__infoBlock">
                <div class="organizationsSearchResultItem__nameBlock" ng-bind="item.Name"></div>
                <div class="organizationsSearchResultItem__categoryBlock" ng-bind="item.CategoriesList">
                    <!--{{::item.Categories|limitTo:6|joinBy:', ':'Name'}}-->
                </div>
                <div class="organizationsSearchResultItem__floorBlock">
                    <span ng-bind="item.FloorsList"></span> ЭТАЖ
                </div>
                <div ng-if="item.megacard" class="organizationsSearchResultItem__megacardBlock">
                    Принимает MEGACARD
                </div>
            </div>
        </li>
    </ul>


    <div ng-show="$root.currentOrganizations.length==0">
        <div class="errorHeaderBlock organizationsSearchResultItem__errorHeaderBlock"
             ng-show="$root.currentOrganizations.length==0">
            По запросу <strong>"{{$root.searchText| limitTo: 150 }}{{searchText.length > 150 ? '...' :
            ''}}" </strong><span
                ng-show="currentCategory&&currentCategory.CategoryID!=-1&&$root.otherCurrentOrganizations.length>0">для категории <strong>"{{currentCategory.Name}}"</strong></span>
            ничего не найдено.
        </div>
        <div class="errorBlock organizationsSearchResultItem__errorBlock">
            Рекомендации:
            <ul>
                <li>Убедитесь, что все слова написаны без ошибок</li>
                <li>Убедитесь, что выбрана нужная категория</li>
                <li>Используйте более популярные ключевые слова.</li>
            </ul>
        </div>

        <div class="errorHeaderBlock organizationsSearchResultItem__errorHeaderBlock"
             ng-show="$root.otherCurrentOrganizations.length>0">
            Возможно, Вы искали следующее:
        </div>

        <ul style="top:310px;" class="list-group organizationsList__organizationsSearchResultBlock" vs-repeat>
            <li class="list-group-item organizationsSearchResultBlock__organizationsSearchResultItem"
                route-class="{'searchResultFull.result':'searchResultFull'}"
                ng-repeat="item in $root.otherCurrentOrganizations track by item.OrganizationID"
                ng-click="select(item)">
                <div style="position: relative;">
                    <div class="organizationsSearchResultItem__logoBlock"
                         style="background: #{{item.LogoBaseColor.substring(3)}};">
                        <img class="logoBlock__logo"
                             alt="{{::item.Organization.Name}}"
                             default="Content/images/mega-logo.jpg"
                             file-system-image="Organizations/{{item.OrganizationID+'_Logo.'+item.LogoExtension}}">
                        <div ng-if="item.megacard"
                             style="width:59px;height:30px;background:white;position:absolute;bottom:0;right:0;">
                            <i class="iconMall-iconMegacard logoBlock__icon"
                               style="font-size:60px;margin-bottom:-15px;color:black"></i>
                        </div>
                    </div>

                    <div class="organizationsSearchResultItem__infoBlock">
                        <div class="organizationsSearchResultItem__nameBlock">
                            {{::item.Name}}
                        </div>
                        <div class="organizationsSearchResultItem__categoryBlock" ng-bind="item.CategoriesList">
                            <!--{{::item.CategoryOrganization|limitTo:6|joinBy:', ':'Category.Name'}}-->
                        </div>
                        <div class="organizationsSearchResultItem__floorBlock">
                            <span ng-bind="item.FloorsList"></span> ЭТАЖ
                        </div>
                        <div ng-if="item.megacard" class="organizationsSearchResultItem__megacardBlock">
                            Принимает MEGACARD
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
