<div class="proposalsListControl" >
    <ul class="list-group proposalsListControl__listBlock"  >
        <li class="list-group-item proposalsListControlListBlock__listElement" ng-class="{true:'selected', false:''}[item.EventID===controller.selectedEventID]"
            ui-sref="events.searchResult.event({EventID:item.EventID})" ng-repeat="item in events" ng-click="controller.select(item.EventID)">
            <!--<div class="proposalsListControlListElement__imageBlock" >-->
                <img class="proposalsListControlListElement__imageBlock" alt="{{item.Name}}"
                     file-system-image="Events/{{item.EventID+'_Logo.'+item.LogoExtension||'jpg'}}"
                     default="Content/images/mega-logo.jpg">
                <!--moloko-image-api="item.EventID" url="/Event/:id/Logo"-->
            <!--</div>-->

            <div class="proposalsListControlListElement__infoBlock" >
                <div class="proposalsListControlListElement__name" ng-bind="item.Name">
                </div>
                <div class="proposalsListControlListElement__summary" ng-bind="item.Summary"></div>
                <div class="proposalsListControlListElement__remainder" ng-if="item.DateEnd">
                    Осталось {{item.DateEnd|remainDays}}
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="proposalsListControlVertical" style="position: absolute;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    z-index:5;
    overflow-x: hidden;
    background: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
    <ul class="wrapper" style="padding:0;">
        <li ng-click="select(item.EventID)" ui-sref="events.eventsList.event({EventID:item.EventID})" class="item"
            style="border:lightgray solid 1px;margin:0.5%;padding:1%;width: 32%;" ng-repeat="item in events">
            <img file-system-image="Events/{{item.EventID+'_Logo.'+item.LogoExtension}}"  default="Content/images/mega-logo.jpg" class="img-responsive" style='/*height: 100%; width: 100%;*/ object-fit: cover'>
                    <!--moloko-image-api="item.EventID" url="/Event/:id/Logo" class="img-responsive" style='/*height: 100%; width: 100%;*/ object-fit: cover'>-->
            <div class="proposalsListControlListElement__name" style="white-space: normal;">
                {{item.Name}}
            </div>
            {{item.Summary}}
            <div class="proposalsListControlListElement__remainder" ng-if="item.DateEnd">
                Осталось {{item.DateEnd|remainDays}}
            </div>
        </li>
    </ul>
</div>